# These files will be ignored by Git and linting tools:
#	gulp jslint
#
# Be sure to append /** to folders to have everything inside them ignored.

# All "dot directories".
.*/**

.idea
.npm-debug.log
node_modules/**
assets/dist/**
