.offer {
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #f2f2f2;
	padding-bottom: 80px;

	&:after {
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		border-color: #ffffff;
	}

	&:before {
		bottom: 0;
		left: 0;
		transform: translate(-50%, 50%);
		border-color: #ffffff;
	}

	.inner {
		position: relative;
		z-index: 2;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.offer-list {
		display: flex;
		justify-content: space-between;
		padding: 20px 0 50px;
		font-size: 22px;
		font-weight: 700;
		line-height: 28px;
		text-align: left;

		> li {
			padding-right: 15px;

			&:before {
				content: '';
				display: block;
				height: 8px;
				width: 40px;
				margin-bottom: 25px;
			}

			&:first-child {
				&:before {
					background: $primary-color;
				}
			}

			&:nth-child(2) {
				&:before {
					background: $secondary-color;
				}
			}

			&:nth-child(3) {
				padding-right: 0;

				&:before {
					background: $text-color;
				}
			}

			li {
				padding-bottom: 10px;

				&:first-letter {
					text-transform: capitalize;
				}
			}
		}
	}

	.prices {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	@media all and (max-width: 1024px) {
		.offer-list {
			font-size: 20px;
		}
	}

	@media all and (max-width: 860px) {
		.offer-list {
			font-size: 18px;
			line-height: 22px;
		}

		.prices {
			font-size: 16px;
		}
	}

	@media all and (max-width: 780px) {
		.offer-list {
			flex-direction: column;
			padding: 0 0 20px;
			text-align: center;
			font-size: 20px;

			> li {
				padding: 0 0 30px;

				&:before {
					margin: 0 auto 25px;
				}
			}
		}
	}

	@media all and (max-width: 375px) {
		text-align: left;

		.offer-list {
			text-align: left;

			> li {
				&:before {
					margin-left: 0;
				}
			}
		}
	}
}
