body {
	font-family: $base-font-family;
	color: $text-color;
}

a {
	color: $text-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 52px;
	margin: 0;
	padding: 100px 0 60px;

	@media all and (max-width: 900px) {
		font-size: 32px;
		padding: 70px 0 40px;
	}
}
